@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding-bottom: 50px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    color: black;
}

h1, .navbar {
    display: inline-block;
}

h1 {
    font-family: "Roboto", sans-serif, weight= 500;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    text-underline-position: below;
    color: black;
}

.navbar > ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 24px;
}

@media (max-width: 700px) {
    .navbar > ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 0;
}
}

.navbar li + li {
    margin-left: 18px;
}

@media (max-width: 700px) {
    .navbar li + li {
    margin-left: 0px;
}
}
.navbar a {
    text-decoration: none;
}

@media (max-width: 700px) {
    .navbar a {
    text-decoration: none;
    flex-flow: row nowrap;
    }
}

.navbar a:hover {
    font-weight: bold;
    text-underline-position: below;
}

.buttons a {
    margin-left: 16px;
    background-color: darkgreen;
    color: white;
    padding: 10px;
    
}

@media (max-width: 700px) {
    .buttons a {
        background-color: darkgreen;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-left: 0;
    }
}

.buttons a:hover {
    margin-left: 16px;
    background-color: white;
    color: black;
    padding: 10px;
    border: .5px solid black;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

.hero_image {
    position: relative;
}

.hero_image img {
    filter: contrast(60%);
}

.hero_image .call_to_action {
    position: absolute;
    bottom: 20%;   
}

.call_to_action {
    width: 100%;
    text-align: center;
}

.call_to_action p {
    font-size: 40px;
    font-family: "EB Garamond", serif;
}

@media (max-width: 700px) {
    .call_to_action p {
        font-size: 20px;  
}
}

.call_to_action a {
    font-size: 20px;
    display: inline-block;
    background-color: darkgreen;
    padding: 12px;
    margin-top: 16px;
    border-radius: 5px;
}

.call_to_action a, .call_to_action p {
    text-align: center;
    color: white;
    
}

.call_to_action a:hover {
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px black;
    border-radius: 5px;
}

main {
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
}

@media (max-width: 700px) {
    main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5em;
    padding-right: .5em;
    width: 90%;
    flex-wrap: wrap; 
    }
}

main p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h2 {
    font-size: 40px;
    font-family: "EB Garamond", serif;
    margin-bottom: 18px;
}

@media (max-width: 700px) {
    h2 {
        font-size: 30px;
        font-family: "EB Garamond", serif;
    }
}

h3{
    font-family: "Roboto", sans-serif, weight= 500;
    font-size: 20px;
    margin-bottom: 18px;
}

main > div {
    margin-bottom: 18px;
}

main a:hover {
    background-color: white;
    color: black;
    border: 2px black;
}

main > * {
    padding: 18px;
}

main .buttons {
    margin-bottom: 25px;
    background-color: darkgreen;
    color: white;
    padding: 12px;
    border-radius: 5px;
}

.benefit1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

@media (max-width: 700px) {
    .benefit1 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }
}

.benefit2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

@media (max-width: 700px) {
    .benefit2 {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
    }
}

.benefit3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

@media (max-width: 700px) {
    .benefit3 {
        grid-row: 4 / span 1;
        grid-column: 1 / span 2;
    }
}

.benefit4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

@media (max-width: 700px) {
    .benefit4 {
        grid-row: 5 / span 1;
        grid-column: 1 / span 2;
    }
}